{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block title %}Entrar{% endblock title %}

{% block body %}

<div class="password_container background_dpe">
    <section class="password_form_content bg-white px-5 py-4 my-4 rounded shadow">
        <div class="header">
            <img src="{% static 'images/logo.png' %}" width="50">
            <div class="title">
                <h4>{{ enterprise_name }}</h4>
                <p>{% trans "InformYourCredentials" %}</p>
            </div>
        </div>
        
        <hr>

        <form method="post">
            {% csrf_token %}
            <div class="float-left">
                <div class="mb-3">
                    <label for="username" class="form-label">{% trans "Username" %}</label>
                    <input type="text" class="form-control" id="username" name="username" aria-describedby="username" value="{{ username }}" required>
                </div>
                <div class="mb-3">
                    <label for="current_password" class="form-label">{% trans "CurrentPassword" %}</label>
                    <div class="d-flex align-items-center">
                        <input type="password" class="form-control" id="current_password" name="current_password" aria-describedby="current_password" value="{{ current_password }}" required>
                        <i class="bi bi-eye-slash password-eye-icon" id="toggleCurrentPassword"></i>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="new_password" class="form-label">{% trans "NewPassword" %}</label>
                    <div class="d-flex align-items-center">
                        <input 
                            type="password"
                            class="form-control"
                            id="new_password"
                            name="new_password" 
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            aria-describedby="new_password" 
                            value="{{ new_password }}"
                            required
                        >
                        <i class="bi bi-eye-slash password-eye-icon" id="toggleNewPassword"></i>
                    </div>
                    
                    <div class="form-text">{% trans 'password_rules' %}</div>
                </div>
                <div class="mb-3">
                    <label for="repeate_password" class="form-label">{% trans "RepeatPassword" %}</label>
                    <div class="d-flex align-items-center">
                        <input type="password" class="form-control" id="repeate_password" name="repeate_password" aria-describedby="repeate_password" value="{{ repeate_password }}" required>
                        <i class="bi bi-eye-slash password-eye-icon" id="toggleRepeatPassword"></i>
                    </div>
                </div>
            </div>
            
            <div><button class="btn btn-success full-width">{% trans "Submit" %}</button></div>
            
            <div class="clearfix"></div>
            
            <div class="separator" style="width: 100%; text-align: center;">
                <div class="clearfix"></div>
                <br />
            </div>
            <a href="{% url 'mail' %}" style="width: 100% !important; text-align: center;">{% trans "ForgetPasswordQuestion" %}</a>
        </form>

        {% if messages %}
        <div class="mt-3">
            <ul class="messages m-0" style="padding-left: 0;">
                {% for message in messages %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </section>
</div>

<script>
    const toggleCurrentPassword = document.getElementById('toggleCurrentPassword');
    const currentPassword = document.getElementById('current_password');

    const toggleNewPassword = document.getElementById('toggleNewPassword');
    const newPassword = document.getElementById('new_password');

    const toggleRepeatPassword = document.getElementById('toggleRepeatPassword');
    const repeatPassword = document.getElementById('repeate_password');

    toggleCurrentPassword.addEventListener('click', () => {
        const type = currentPassword.getAttribute('type') === 'password' 
            ? 'text' 
            : 'password';
        currentPassword.setAttribute('type', type);
        if (toggleCurrentPassword.classList.contains('bi-eye')) {
            toggleCurrentPassword.classList.remove('bi-eye');
            toggleCurrentPassword.classList.add('bi-eye-slash');
        } else {
            toggleCurrentPassword.classList.add('bi-eye');
            toggleCurrentPassword.classList.remove('bi-eye-slash');
        }
    });

    toggleNewPassword.addEventListener('click', () => {
        const type = newPassword.getAttribute('type') === 'password' 
            ? 'text' 
            : 'password';
        newPassword.setAttribute('type', type);
        if (toggleNewPassword.classList.contains('bi-eye')) {
            toggleNewPassword.classList.remove('bi-eye');
            toggleNewPassword.classList.add('bi-eye-slash');
        } else {
            toggleNewPassword.classList.add('bi-eye');
            toggleNewPassword.classList.remove('bi-eye-slash');
        }
    });

    toggleRepeatPassword.addEventListener('click', () => {
        const type = repeatPassword.getAttribute('type') === 'password' 
            ? 'text' 
            : 'password';
        repeatPassword.setAttribute('type', type);
        if (toggleRepeatPassword.classList.contains('bi-eye')) {
            toggleRepeatPassword.classList.remove('bi-eye');
            toggleRepeatPassword.classList.add('bi-eye-slash');
        } else {
            toggleRepeatPassword.classList.add('bi-eye');
            toggleRepeatPassword.classList.remove('bi-eye-slash');
        }
    });
</script>
{% endblock body %}
