{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Success{% endblock title %}

{% block body %}

<div class="password_container background_dpe">
    <div class="card text-center mb-3" style="width: 18rem;">
        <div class="card-body">
            <img src="{% static 'images/logo.png' %}" class="img-fluid img-thumbnail" width="100">
            <hr>
            <h2 class="card-title">{% trans "success_title" %}</h2>
            <p class="card-text">{% trans "success_message" %}</p>
            <a href="{{ redirect_url }}">{% trans "success_redirect_message" %}</a>
        </div>
    </div>
</div>
{% endblock body %}
